/*never use universal selector  or css reset for bootstrap*/
.carousel-caption h1, .carousel-caption h2 {
    text-shadow: 2px 2px 0 black;
}
footer {
    margin-top: 2rem;
}
p {background-color:rgba(255,0,0,0.3);}

@media (min-width: 576px) {
}
@media (min-width: 768px) {  
}
@media (min-width: 992px) { 
}
@media (min-width: 1200px) {  
}